img.logo{
    width: 200px;
}
h1.head{
    color: rgb(206, 125, 19);
     margin-bottom: 20px;
}
body{
    background-color: black;
     color: white;
      font-family: sans-serif;
}

h3{
    margin-bottom: 50px;
}

